/*============================
[TOC]
1. General
2. Header
3. Posts
========================================*/

/*-----------------
	1. General
-----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #f7f7f7;
  /* background: #18191A; */
  /* background: #E8F0F2; */
}
.page-wrapper {
  padding-top: 5em;
}

/*-----------------
    2. Header
 -----------------------*/
.header {
  background-color: rgba(52, 58, 64, 0.95);
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 60px;
}
.header .header-left {
  float: left;
  height: 60px;
  padding: 0 20px;
  position: relative;
}
.header ul {
  list-style: none;
  float: right;
}
.header ul li {
  display: inline-block;
}
.header .dropdown-menu > li > a {
  position: relative;
}
.header .dropdown-menu .dropdown-item {
  padding: 5px 15px;
}
.user-menu {
  float: right;
  margin: 0;
  position: relative;
  z-index: 99;
}
.user-menu img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.user-menu.nav > li > a {
	color: #fff;
	font-size: 15px;
	line-height: 60px;
	padding: 0 15px;
	height: 60px;
}
.user-menu.nav > li > a:hover,
.user-menu.nav > li > a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}
.top-nav-search .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  color: #fff;
  height: 40px;
  padding: 10px 50px 10px 15px;
}
.top-nav-search .btn {
  background-color: transparent;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  min-height: 40px;
  padding: 7px 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.top-nav-search form {
  margin-top: 10px;
  position: relative;
  width: 230px;
}
.dropdown {
  position: relative;
}
.header .has-arrow .dropdown-toggle:after {
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: '';
	height: 8px;
	display: inline-block;
	pointer-events: none;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 8px;
	vertical-align: 2px;
}
.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.main-drop .user-img img {
	border-radius: 50%;
    width: 30px;
}

/*-----------------
    3. Posts
 -----------------------*/
.content-wrapper {
  margin: 0 auto;
  max-width: 60%;
}
.post-wrapper {
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* background: rgba(0, 0, 0, 0.2); */
  background-color: #18191A;
  border: none;
  border-radius: 6px;
  padding: 2.45em 2.25em;
  margin: 2em 0;
}
.post-header {
  margin: 0.1em;
}
.post-user-img {
  border-radius: 5px;
  width: 100px;
  height: auto;
  border: 1px solid;
  padding: 0.12em;
}
.post-user-img img {
  width: 100%;
}
.up-down-vote ul {
  list-style-type: none;
  padding: 0;
}
.up-down-vote ul li {
  display: inline-block;
}
.up-down-vote ul li a {
  text-decoration: none;
}
.post-body p {
  margin: 0 0.25em;
  padding-bottom: 0.125em;
  border-bottom: 1px solid;
}
.comments-tally p {
  float: right;
  padding-right: 0.25em;
}
.post-statistics {
  padding: 0.45em 0;
  border-bottom: 1px solid;
  margin: 0 0.25em;
}
.upvote,
.downvote {
  color: #fff;
  padding: 0.2em 0.51em;
  border-radius: 4px;
}
.upvote {
  background: blue;
}
.downvote {
  background: red;
}
.post-comments-wrapper{
  margin: 0.45em 2em;
}
.post-comments-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.add-comment, .post-comments{
  margin: 0.25em 0;
  padding: 0.35em 0;
}
.add-comment-form .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  color: #fff;
  height: 40px;
  padding: 10px 50px 10px 15px;
}
.add-comment-form .btn {
  background-color: transparent;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  min-height: 40px;
  padding: 7px 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.add-comment-form form {
  position: relative;
}
.comment-body {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0.75em;
}
#add_post_modal{
  color: #000;
}
/*-----------------
 Error page
 -----------------------*/
.error-page {
  align-items: center;
  color: #1f1f1f;
  display: flex;
  margin: 0;
}
.error-page .error-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.error-content {
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 0;
  text-align: center;
  width: 100%;
}
.error-content h1 {
  color: #667eea;
  font-size: 10em;
}
.error-content p {
  margin-bottom: 30px;
}
.error-content .btn {
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  padding: 10px 20px;
}
.btn-custom {
  background: #667eea;
  background: -moz-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -webkit-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -ms-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: #fff;
}
.btn-custom.focus,
.btn-custom:focus,
.btn-custom:hover {
  background: #667eea;
  background: -moz-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -webkit-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -ms-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: #fff;
}
