{% extends 'base.html' %}  {% import 'macros.html' as macro %}  {% import 'bootstrap/wtf.html' as wtf %} {% block
content %}
<div class="page-wrapper">
  {% include 'navbar.html'%}
  {% include 'add-post-modal.html'%}
  <div class="content-wrapper">
    <div class="category-well">
      <h1>{{category_name}}</h1>
      {%if posts|length%}
      <p>{{category_name}} pitches that have define people</p>
      {%else%}
      <p>There are no {{category_name}} pitches to display</p>
      {%endif%}
    </div>
    <div class="category-posts">
      {{macro.displayPosts(posts)}}
    </div>
  </div>
</div>
{% endblock %}
