{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} 
{% block content %}
    <div class="login-wrapper">
        <div class="intro-wrapper">
            <h4>A PITCH</h4>
            <h1>60 Seconds Count </h1>
            <p>In life we get to make pitches, be it a sales or product, that can either make or break the deal at hand. It's that opening line, verbal business card, and the first thing that is heard from you that counts.</p>
            <p>At Pitch Master, you get to see pitches from people in all walks of life that may hone your pitch skills</p>
            <ul>
                <li><a href="{{url_for('auth.login')}}" class="btn-custom">Login</a></li>
                <li><a href="{{url_for('auth.register')}}" class="btn-custom">Register</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
