<nav class="navbar navbar-expand-lg navbar-light bg-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home/0"
      ><h1>Pitch master</h1>
      <!-- <h6>Home of inspiration</h6> -->
      </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('main.home', cid=0)}}">All categories</a>
        </li>
        {%for category in categories%}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.home', cid=category.id)}}">{{category.category_name}}</a>
          </li>
        {%endfor%}
        <!-- <li class="nav-item">
        
          <a class="nav-link" href="{{url_for('main.home', cid=1)}}">Promotion</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.home', cid=2)}}">Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.home', cid=3)}}">Pickup lines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.home', cid=4)}}">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.home', cid=5)}}">Motivation</a>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{current_user.first_name}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{url_for('main.profile', userid=current_user.id)}}">Profile</a></li>
            <li>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}"
                >logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
