<div class="header">
  <div class="header-left">
    <div class="logo">
      <a href="/">
        <h1>Insta News</h1>
      </a>
    </div>
  </div>
  <ul class="user-menu">
    <li>
      <div class="top-nav-search">
        <!-- <a href="">
          <i class="fa fa-search"></i>
        </a> -->
        <form action="">
          <input
            type="text"
            class="form-control"
            placeholder="Search here..."
          />
          <div class="input-group-append">
            <button class="btn"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </li>
    <li class="dropdown">
      {% if current_user.is_authenticated %}
        <a href="">
          <img
            src="../static/photos/default_user_pic.png"
            alt=""
          />
        </a>
        <div class="dropdown-menu">
          <a href="">Profile</a>
          <a href="">Logout</a>
        </div>
      {% else %}
      <a href="{{url_for('auth.login')}}">Sign in</a>
      {% endif %}
    </li>
  </ul>
</div>
