<div class="header">
  <div class="header-left">
    <div class="logo">
      <a href="/">
        <h1>Pitch master</h1>
      </a>
    </div>
  </div>




<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add_post_modal">Add post</button>







  <ul class="nav user-menu">
    <li>
      <div class="top-nav-search">
        <form action="">
          <input
            type="text"
            class="form-control"
            placeholder="Search here..."
          />
          <div class="input-group-append">
            <button class="btn"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </li>
    
    <li class="nav-item dropdown has-arrow main-drop">
      {% if current_user.is_authenticated %}
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <span class="user-img"><img src="{{url_for('static', filename=current_user.profile_pic_path)}}" alt="">
          <span>{{current_user.first_name}}</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="profile.html">My Profile</a>
          <a class="dropdown-item" href="login.html">Logout</a>
        </div>
      {% else %}
        <a href="{{url_for('auth.login')}}">Sign in</a>
      {% endif %}
    </li>
    <!-- <li class="dropdown">
      {% if current_user.is_authenticated %}      
        <a href="">
          <span>
            <img
              src="{{url_for('static', filename=current_user.profile_pic_path)}}"
              alt=""
            />
          </span>
          <span>
            {{current_user.first_name}}
          </span>
        </a>
        <div class="dropdown-menu">
          <a href="">Profile</a>
          <a href="">Logout</a>
        </div>
      {% else %}
      <a href="{{url_for('auth.login')}}">Sign in</a>
      {% endif %}
    </li> -->
  </ul>
</div>
