{% extends 'base.html' %} {% import 'macros.html' as macro %} {% import 'bootstrap/wtf.html' as wtf %} {% block
content %}
<div class="page-wrapper">
  {% include 'navbar.html'%}
  {% include 'add-post-modal.html'%}
  <div class="profile-wrapper">

    <div class="row">
      <div class="col-md-2 user-details">
        <img
          src="{{url_for('static', filename=user.profile_pic_path)}}"
          alt="user image"
        />
        <h6>{{user.first_name}} {{user.other_names}}</h6>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <div class="pro-edit">
          <a
            data-target="#update_user_profile"
            data-toggle="modal"
            class="edit-icon open-edit-profile"
            href="#"
            ><i class="fa fa-pencil"></i
          ></a>
        </div>
      </div>
      <div class="col-md-10 posts">
        {{macro.displayPosts(posts)}}
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="update_user_profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit user profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('main.update_profile', userid=current_user.id)}}" method="post" enctype="multipart/form-data">
          <input type="file" name="photo" class="form-control" required>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}
